#app-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: $gutter * 2;
  grid-auto-flow: dense;

  .card {
    &.--on {
      color: var(--color-accent);
    }

    &.--off {
      color: var(--color-error);
    }

    &.--unknown {
      color: var(--color-light);
    }
  }

  .icon-unknown {
    @keyframes jump {
      0% {
        transform: translateY(0);
      }

      40% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-0.5em);
      }

      60% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(0);
      }
    }

    &.--visible {
      animation: jump 2s linear infinite;
    }
  }
}
