// Breakpoints
$sm: '(max-width: 576px)';
$md: '(min-width: 577px)';
$lg: '(min-width: 1024px)';
$xl: '(min-width: 1280px)';
$xxl: '(min-width: 1400px)';

$grey-black: rgb(32, 32, 32);
$grey-dark: rgb(102, 102, 102); //#666;
$grey-darker: rgb(51, 51, 51); //#333;
$grey-light: rgb(170, 170, 170);
$grey-lighter: rgb(238, 238, 238);

$accent: #a1b58d;
$accent-secondary: #d0c885;
$error: #b57979;

$gutter: 1rem;

:root {
  --color-accent: #{$accent};
  --color-accent-secondary: #{$accent-secondary};
  --color-black: #{$grey-black};
  --color-error: #{$error};
  --color-dark: #{$grey-dark};
  --color-darker: #{$grey-darker};
  --color-light: #{$grey-light};
  --color-lighter: #{$grey-lighter};
}
